
@{
    ViewBag.Title = "ListOfCourses";
}

<h2>List Of Courses</h2>

<table class="table">
    <tr>
        <th>Name></th>
        <th>Category</th>
        <th>Update</th>
        <th>Delete</th>
        <th>Students in this course</th>
    </tr>
    @foreach (var course in ViewBag.CourseList)
    {
    <tr>
        <td>@course.Name</td>
        <td>@course.Category</td>
        <td><a href="/Home/EditCourse?Id=@course.Id">Edit Course</a></td>
        <td><a href="/Home/DeleteCourse?Id=@course.Id" onclick="return confirm('Are you sure you want to delete this course?')" class="btn-danger btn-sm" name="delete">Delete</a></td>
        <td>@*ToDo: List Courses*@</td>
        <td></td>
    </tr>
    }
</table><br /><br />
<a href="/Home/AddStudent">Add a New Student</a><br /><br />
<a href="/Home/AddCourse">Add a New Course</a>

